#token-hud .faction-control {
    align-items: center;
    display: flex;
    justify-content: center;
}

#token-hud .faction-control.active {
    border: 1px solid var(--color-border-highlight, #f7d488);
    box-shadow: 0 0 6px var(--color-shadow-primary, #000);
}

#token-hud .faction-control.faction-friendly {
    color: #3fb950;
}

#token-hud .faction-control.faction-enemy {
    color: #d73a49;
}

#token-hud .faction-control.faction-neutral {
    color: #8b949e;
}
